.muhammadali{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: black;
}
.muhammadali-texts{
    width: 400px;

}
.muhammadali-text-1{
    font-size: 32px;
    font-weight: bold;
}
.muhammadali-text-2{
    font-size: 18px;
    margin-top: 20px;
}