.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.icon1 {
  display: flex;
  margin-top: 20px;
}
.icon2{
  display: flex;
  margin-top: 10px;
}
.text{
  width: 440px;
  margin-top: 20px;
}